<!doctype html>
<html lang="en">
	<head>
		<!-- TODO: tags for SEO -->
		<meta charset="utf-8">
		<title>Prwl.org</title>

		<!-- ****** faviconit.com favicons ****** -->
		<link rel="shortcut icon" href="img/faviconitimg/faviconit/favicon.ico">
		<link rel="icon" sizes="16x16 32x32 64x64" href="img/faviconit/favicon.ico">
		<link rel="icon" type="image/png" sizes="196x196" href="img/faviconit/favicon-192.png">
		<link rel="icon" type="image/png" sizes="160x160" href="img/faviconit/favicon-160.png">
		<link rel="icon" type="image/png" sizes="96x96" href="img/faviconit/favicon-96.png">
		<link rel="icon" type="image/png" sizes="64x64" href="img/faviconit/favicon-64.png">
		<link rel="icon" type="image/png" sizes="32x32" href="img/faviconit/favicon-32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="img/faviconit/favicon-16.png">
		<link rel="apple-touch-icon" href="img/faviconit/favicon-57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/faviconit/favicon-114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/faviconit/favicon-72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="img/faviconit/favicon-144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="img/faviconit/favicon-60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="img/faviconit/favicon-120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="img/faviconit/favicon-76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="img/faviconit/favicon-152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="img/faviconit/favicon-180.png">
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="/favicon-144.png">
		<meta name="msapplication-config" content="/browserconfig.xml">
		<!-- ****** faviconit.com favicons ****** -->

		<link href="lib/foundation.min.css" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet">
	</head>
	<body>
		<div id="main">
			<!-- Header -->
			<div class="row">
				<div class="small-12 columns">
					<div class="icon-bar three-up">
						<a class="item" href="#">
					    	<img src="img/general-ui/svg/pin60.svg" width="48px">
					    	<label>Home</label>
					  	</a>
					  	<a class="item" href="#about">
					   		<img src="img/general-ui/svg/question57.svg" width="48px">
					    	<label>About</label>
					  	</a>
					  	<a class="item" href="#store">
					   		<img src="img/general-ui/svg/cart.svg" width="48px">
					    	<label>Store</label>
					  	</a>
					</div>
				</div>
			</div>
			<div class="row">
				<img id="logo" src="img/cat2.jpg" class="left">
				<img id="name" src="img/logo.jpg">
			</div>

			<!-- Templates attach here -->
			<div class="row" id="main-anchor"></div>

			<!-- Footer -->
			<div class="row" id="footer">
				<div class="small-12 columns">
					<!-- TODO: attribution for icons -->
					<a href="https://www.facebook.com/prwl.org">Visit our Facebook page!</a>
				</div>
			</div>
		</div>

		<!-- Main templates -->
		<script type="text/template" id="login-template">
			<div id="login-box" class="row">
				<div class="small-3 small-centered columns">
					<h2>Login or Register</h2>
					<form id="login-form">
						<input id="login-username" type="text" placeholder="username" required>
						<input id="login-password" type="password" placeholder="password" required>
					</form>
				</div>
			</div>
		</script>
		<script type="text/template" id="home-template">
			<div class="row">
				<div class="small-4 columns">
					<div class="icon-bar three-up">
					  	<a class="item" id="mine-button">
					  		<img src="img/general-ui/svg/profile29.svg" width="24px">
							<label>Mine</label>
					  	</a>
					  	<a class="item" id="search-button">
					  		<img src="img/general-ui/svg/globe32.svg" width="24px">
					    	<label>Search</label>
					  	</a>
					  	<a class="item" id="inspect-button">
					  		<img src="img/general-ui/svg/magnifier52.svg" width="24px">
					    	<label>Inspect</label>
					  	</a>
					</div>
					<div id="sidebar-anchor"></div>
				</div>
				<div class="small-8 columns" id="map-anchor"></div>
			</div>
		</script>
		<script type="text/template" id="about-template">
			<div id="about-container" class="row">
				<div class="small-8 small-centered columns">
					<h3>What is PRWL?</h3><hr>
					<p>PRWL is a non-profit combatting street harassment though a mobile web- app!</p>

					<h3>Who is PRWL for?</h3><hr>
					<p>PRWL does not view street harassment as an issue limited to one age, gender identity/expression, sexuality, physical ability, or race. It's an issue affecting everyone, and we hope to include everyone in our efforts to raise awareness of and understand street harassment, and ultimately make our streets a more inclusive and safe environment.</p>

					<h3>What will PRWL accomplish?</h3><hr>
					<p>Our four core purposes to achieve that level of comfort and safety in our urban environments are:</p>

						<ul>
							<li>Bringing awareness to street harassment as a serious and widespread issue.</li>
							<li>Creating a community of users who have shared similar experiences and can discuss them and provide each other support.</li>
							<li>Collecting data/testimonies on the circumstances of harassment (which will be made available to city planners, police, etc). We understand that PRWL won't end street harassment, but collecting mass information on the issue is the first step to a solid solution.</li>
							<li>Providing safer routes of travel.</li>
						</ul>

					<h3>Where will donations go?</h3><hr>
					<p>Funding for PRWL would mainly contribute both to development of the app and maintaining our servers. We're also hoping to get some initial funding on creating swag to be made available for all of you.</p>

					<h3>Where can I get more information?</h3><hr>
					<p>See our <a href="https://www.facebook.com/prwl.org">Facebook</a> for more information.</p>

					<!-- TODO: more links, donation links -->
				</div>
			</div>
		</script>
		<script type="text/template" id="store-template">
			<div class="row">
				<div class="small-8 small-centered columns">
					<h3>Coming Soon!</h3>
				</div>
			</div>
		</script>

		<!-- Sidebar templates -->
		<script type="text/template" id="mine-template">
			<h2>My Pins</h2>
			<button id="pin-button">Drop Pin</button>
			<hr>
			<div id="mine-pins-anchor"></div>
    	</script>
    	<script type="text/template" id="search-template">
    		<h2>Search Pins</h2>
			<input id="search-input" type="text" placeholder="Tags: 'physical', 'verbal', ...">
			<hr>
    		<div id="search-pins-anchor"></div>
    	</script>
    	<script type="text/template" id="inspect-template">
    		<h2>Inspect Pin</h2>
    		<div class="inspected-pin">
				<%=pin.get('time')%>
				<br>
				@ (<%=pin.get('lat')%>, <%=pin.get('lng')%>)
				<br>
				<%= pin.get('desc') || 'Add a description below' %>
				<br>
				Tags: <%= pin.get('tags').join(', ') %>
				<hr>

				<!-- TODO: edit location? -->
				<from id="inspect-pin-form">
					<input name="desc" type="text" placeholder="Describe what happened" required>
					<input name="tags" type="text" placeholder="Tags: 'physical', 'verbal', ...">
					<br>
					<button id="inspected-pin-submit" type="submit">Report It!</button>
				</form>
			</div>

			<hr>

			<h2>Comments</h2>
			<input type="text" id="comment-text" placeholder="Leave a comment">
			<div id="comment-anchor">
				<% _.each(pin.get('comments'), function(comment) { %>
					<div class="comment">
						<%= comment %>
					</div>
				<% }) %>
			</div>
    	</script>
    	<script type="text/template" id="pin-template">
			<div class="pin">
				<%=pin.get('time')%>
				<br>
				@ (<%=pin.get('lat')%>, <%=pin.get('lng')%>)
				<br>
				<%= pin.get('desc') || 'Click to add a description!' %>
			</div>
    	</script>

		<!-- TODO: consider zepto instead? -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw_A1T7lw17fsJaVfJUmQO6Jx6A_vGuUk"></script>
		<script src="lib/foundation.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/views/Home.js"></script>
		<script src="js/views/About.js"></script>
		<script src="js/views/Store.js"></script>
		<script src="js/views/Mine.js"></script>
		<script src="js/views/Search.js"></script>
		<script src="js/views/Inspect.js"></script>
		<script src="js/views/Pin.js"></script>
		<script src="js/models/Pin.js"></script>
		<script src="js/collections/Pins.js"></script>
		<!-- TODO: more includes, or better way to include everything? -->
	</body>
</html>
