$prowl-blue: #2496D5;
$prowl-purple: #A34188;

h1 {
	font-size: 100px;
	color: $prowl-blue;
}

h2 {
	font-size: 50px;
	color: $prowl-blue;
}

h3 {
	font-size: 30px;
	color: $prowl-blue;
}

.pin, .inspected-pin {
	margin: 10px;
	padding: 10px;
	background: $prowl-blue;
	color: white;
	cursor: pointer;
}

.icon-bar {
	background: $prowl-blue;

	a {
		color: white;
	}
}

#map-anchor {
	height: 600px;
}
