$prowl-blue: #2496D5;
$prowl-purple: #A34188;
$prowl-gray: #BBBBBB;
$prowl-heading-fonts: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;

$icon-bar-image-height: 1rem;

h1 {
	font-size: 80px;
	font-family: $prowl-heading-fonts;
	color: $prowl-blue;
}

h2 {
	font-size: 50px;
	font-family: $prowl-heading-fonts;
	color: $prowl-blue;
}

h3 {
	font-size: 30px;
	font-family: $prowl-heading-fonts;
	color: $prowl-blue;
}

p {
	color: $prowl-gray;
}

ul {
	color: $prowl-gray;
	margin-left: 40px;
}

.pin, .inspected-pin {
	margin: 10px;
	padding: 10px;
	background: $prowl-blue;
	color: white;
	cursor: pointer;
}

.comment {
	margin: 10px;
	padding: 10px;
	background: $prowl-blue;
	color: white;
}

.icon-bar {
	background: $prowl-blue;

	a {
		color: white;
	}
}

a {
	:link {
		color: $prowl-blue;
	}

	:visited {
		color: $prowl-purple;
	}
}

button {
	background: $prowl-blue;
	border: solid 1px white;
}

#about-container {
	overflow: scroll;
	height: 450px;
}

#map-anchor {
	height: 600px;
}

#mine-pins-anchor {
	height: 300px;
	overflow: scroll;
}

#comment-anchor {
	height: 200px;
	overflow: scroll;
}

#footer {
	text-align: center;
}

.row {
	margin-bottom: 10px;
}
